.roundcorner {
    border: 2px solid #a1a1a1;
    padding: 5px 80px;
    background: #dddddd;
    width: 300px;
    border-radius: 25px;
    -moz-border-radius: 35px; /* Firefox 3.6 and earlier */
}

.roundcornerTwo {
    border: 2px solid #a1a1a1;
    padding: 5px 50px;
    background: #dddddd;
    width: 230px;
    border-radius: 25px;
    -moz-border-radius: 35px; /* Firefox 3.6 and earlier */
}

aside {
    width: 305px;
    height: 450px;
    border-right: 1px solid black;
    background-color: lightblue;
    float: left;
    padding: 10px;
}

.center {
    margin-left: 200px;
    float: left;
  
}

.centerLibMgmt {
    padding-left:1000px;
    float: left;
}

.centerBoobMgmt {
    margin-left: 410px;
    float: left;
}

.centerButton {
    padding-left: 1000px;
    float: left;
}